///****Colors****\\\\
$color-white: #FFFFFF;
$color-black: #000000;
$color-gray-dark: #574E5A;
$color-gray-light: #BCB1BF;
$color-error:#AD3C40;
$color-primary: #CA38ED;
$color-secondary: #E487FB;
$color-tertiary: #3E1149;

///****font-family****\\\\
$font-family-label: 'Poppins';
$font-family-button: 'Archivo';
$font-family-text: 'Roboto';
$font-size-label: 14px;
$font-size-text: 18px;